<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login_page">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_shoppingcart"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Bill.billing"></activity>
        <activity android:name=".Images.imageupload" />
        <activity android:name=".Views.softdrinks" />
        <activity
            android:name=".Views.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Quantitysample.mango" />
        <activity android:name=".Admin.admin_products" />
        <activity android:name=".Admin.admin" />
        <activity android:name=".Views.hygiene" />
        <activity android:name=".Views.fruit" />
        <activity android:name=".Home.Home" />
        <activity android:name=".Login_front.sign_in" />
        <activity android:name=".Login_front.forgetpassword" />
        <activity android:name=".Images.ImagesActivity" />
        <activity android:name=".Home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>